---
import Layout from '../layouts/Layout.astro';
import Project from '../components/cards/Project.astro';
import Container from '../components/shared/Container.astro';
---

<Layout title="Portofolio">
	<main class="relative pt-24 flex flex-col overflow-hidden pb-24">
        <Container className={"flex-col lg:flex-row gap-10 lg:gap-12 pt-4"}>
            <span class="absolute -left-6 md:left-4 top-24 lg:top-28 w-24 h-24 rotate-90 skew-x-12 rounded-3xl bg-green-400 blur-xl opacity-60 lg:opacity-95 lg:block hidden"></span>
            <span class="absolute right-4 bottom-12 w-24 h-24 rounded-3xl bg-primary blur-xl opacity-80"></span>
        </div>
        <span class="w-4/12 lg:w-2/12 aspect-square bg-gradient-to-tr from-primary to-green-400 absolute -top-5 lg:left-0 rounded-full skew-y-12 blur-2xl opacity-40 skew-x-12 rotate-90"></span>
            <div class="w-full h-full grid gap-6 lg:gap-8 sm:grid-cols-2 lg:grid-cols-3 ">
                <Project title="Wie UNVYL Freelancer mit ihrem neuen Programm Kleinunternehmern bei der Erstellung von Websites hilft" description="n einer Welt, in der eine starke Online-Präsenz für Kleinunternehmer von entscheidender Bedeutung ist, hat UNVYL mit seinem innovativen Programm Freelancern wie Ihnen die Möglichkeit gegeben, Kleinunternehmern bei der Erstellung beeindruckender Websites zu helfen. Durch die Lösung von Schmerzpunkten wie Zeit- und Ressourcenmangel, technischen Herausforderungen, eingeschränkten Designmöglichkeiten, Mobile-Optimierung und SEO-Freundlichkeit bietet Ihr Programm eine umfassende Lösung für Kleinunternehmer, um ihre Online-Ziele zu erreichen." url="https://blog-nextjs-sanity-git-main-kcne.vercel.app/posts/wie-onyo-mit-innovativer-software-wohltaetige-arbeit-bei-unternehmen-revolutioniert" image="/images/unvyl.webp" />
                <Project title="College Prep U" description="Wir als Firma Bee Digital hatten das Privileg, mit CollegePrepU an einem aufregenden Redesign-Projekt zu arbeiten. Unser Ziel war es, ihre Website so zu optimieren, dass angehende College-Studenten eine effektive Vorbereitung auf den Aufnahmetest erhalten und ihre Ziele erreichen können. Im Folgenden sind fünf Schmerzpunkte aufgeführt, die wir erfolgreich gelöst haben: verwirrende Navigation und unübersichtliche Struktur, fehlende Interaktivität und Engagement, unattraktives und veraltetes Design, mangelnde mobile Optimierung und fehlende Anpassung an individuelle Bedürfnisse. Durch die Lösung dieser Herausforderungen konnten wir die Website von CollegePrepU zu einer benutzerfreundlichen, interaktiven und attraktiven Plattform transformieren." url="https://blog-nextjs-sanity-flax-theta.vercel.app/posts/college-prep-u" image="/images/collegePrepU.webp" />
                <Project title="Wie ONYO mit innovativer Software wohltätige Arbeit bei Unternehmen revolutioniert" description="ONYO hat mit ihrer innovativen Software die Art und Weise, wie Unternehmen wohltätige Arbeit angehen, revolutioniert. Ihr Beitrag zur Entwicklung des Segments hat Unternehmen dabei geholfen, Spendenprozesse zu automatisieren, Freiwilligenarbeit zu erfassen, Auswirkungen zu messen, Gamification-Elemente zu integrieren und die Software an ihre individuellen Bedürfnisse anzupassen. Durch die Kombination von Technologie und sozialer Verantwortung ermöglicht ONYO Unternehmen, einen positiven Einfluss auf die Gemeinschaften und die Gesellschaft zu nehmen." url="https://blog-nextjs-sanity-flax-theta.vercel.app/posts/wie-unvyl-freelancer-mit-ihrem-neuen-programm-kleinunternehmern-bei-der-erstellung-von-websites" image="/images/onyo.webp"/>
            </div>
        </div>
        </Container>
	</main>
</Layout>