---
import { changeLanguage } from "i18next";
import Layout from "../../layouts/Layout.astro";
import Project from "../../components/cards/Project.astro";
import Container from "../../components/shared/Container.astro";
import icon from "/images/map-pin-iso-color.png";
import Button from "../../components/shared/Button.astro";

changeLanguage("de");
---

<Layout title="Contact">
	<main class="relative pt-24 flex flex-col overflow-hidden pb-24">
        <Container className={"flex-col lg:flex-row gap-10 lg:gap-12 pt-4"}>
        <span class="absolute right-4 bottom-12 w-24 h-24 rounded-3xl bg-primary blur-xl opacity-80"></span>
        <span class="w-4/12 lg:w-2/12 aspect-square bg-gradient-to-tr from-primary to-green-400 absolute -top-5 lg:left-0 rounded-full skew-y-12 blur-2xl opacity-40 skew-x-12 rotate-90"></span>
        <p class="text-3xl dark:text-white">Contact Us</p>
        <p class="pt-3 dark:text-white">You can contact us via form below or arrange a meeting directly by selecting the date and time from calendar below.</p>
            <div class="w-full h-max lg:flex xl:flex 2xl:flex py-5 mt-4 dark:text-white">
                <div class="w-2/3 rounded-md bg-gradient-to-b  g-gradient-to-tr from-gray-50 to-gray-100 dark:from-gray-900  p-7 h-[700px] max-lg:w-full">
                <form   action="https://formspree.io/f/moqzoerl" method="POST" class="h-full dark:text-white">
                    <label class="text-xl">Name:</label>
                    <input type="text" name="name" id="name" class="w-full h-[42px] bg-white rounded-md my-1 p-2 dark:text-black" required>
                    <label class="text-xl dark:text-white">Email:</label>
                    <input type="email" name="email" id="email" class="w-full h-[42px] rounded-md  bg-whiterounded-md my-1 p-2 dark:text-black">
                    <label class="text-xl dark:text-white">Company:</label>
                    <input type="text" name="company" id="company" class="w-full h-[42px] rounded-md bg-whiterounded-md my-1 p-2 dark:text-black">
                    <label class="text-xl dark:text-white">Subject:</label>
                    <input type="text" name="subject" id="subject" class="w-full h-[42px] rounded-md  bg-whiterounded-md my-1 p-2 dark:text-black" required>
                    <label class="text-xl dark:text-white">Message:</label>
                    <input type="text" name="message" id="message" class="w-full h-[150px]  rounded-md my-1 p-2 dark:text-black">
                    <label class="text-xl dark:text-white">Website Link:</label>
                    <input type="url" name="website" id="website" class="w-full h-[42px]  rounded-md my-1 p-2 dark:text-black">
                    <div class="w-full flex justify-end">
                    <Button variant={"primary"} className={"mt-3 rounded-md px-16 h-10 flex justify-center items-center"} type="submit">
                        <span class="text-white relative z-[5]">Submit</span>
                    </Button>
                    </div>
                    </form>
                </form>
                </div>
                <div class="w-1/3 max-xl:w-full h-full">
                    <div class="w-full h-full ">
                        <!-- Calendly inline widget begin -->
                        <div class="calendly-inline-widget rounded-md" data-url="https://calendly.com/bee-digital/30min" style="min-width:320px;height:700px;"></div>
                        <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
                        <!-- Calendly inline widget end -->
                    </div>
                </div>

            </div>     
        </Container>
	</main>
</Layout>